.long {
	position: absolute;
	margin-left: -31%;
	margin-top: 10px;
}

[class ^= "error_message_login"].long, [class ^= "error_message_country"].long {
	margin-left: -68%;
}

.long:before {
	visibility: hidden;
}