#select_countries, #select_cities {
	position: relative;
	height: 50px;
	box-sizing: border-box;
}

#select_countries ul, #select_cities ul {
	display: none;
	position: absolute;
	top: 100%;
}

#select_countries, #select_countries ul, #select_cities, #select_cities ul {
	margin-bottom: 0px;
	padding: 0;
	width: 300px;
	list-style-type: none;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#select_countries li, #select_cities li {
	position: relative;
	cursor: pointer;
}

.countries_element, .cities_element {
	padding: 5px 0px 5px 20px;
	display: block;
	width: 295px;
	text-decoration: none;
	color: #000000;
}

.countries_element:hover, .cities_element:hover {
	text-decoration: none;
	color: #ff9800;
}

#countries_header, #cities_header {
	text-decoration: none;
	display: inline-block;
	padding: 16px 0px 0px 20px;
	height: 34px;
	width: 280px;
	color: #bbbbbb;
}

#select_arrow {
	display: inline;
	width: 34px;
	height: 100%;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
}