.checkbox {
	display: inline-block;
}

.social_network {
	margin-left: 5px;
	display: inline-block;
	width: 130px;
}

.social_group {
	display: inline-table;
	position: absolute;
	width: 225%;
}

.social_group_facebook {
	top: 77px;
}

.social_group_vk {
	top: 121px;
}

.social_group_twitter {
	top: 165px;
}

.social_group_ok {
	top: 209px;
}

#vk_login, #twitter_login, #ok_login {
	margin-top: 5px;
}

#facebook_login, #vk_login, #twitter_login, #ok_login {
	display: inline-block;
	height: 33px;
	width: 260px;
	padding: 0px 0px 0px 15px;
	font-size: 13px;
	font-family: "Open Sans";
}

#facebook_login::-webkit-input-placeholder, #facebook_login::-moz-placeholder-color,
#vk_login::-webkit-input-placeholder, #vk_login::-moz-placeholder-color,
#twitter_login::-webkit-input-placeholder, #twitter_login::-moz-placeholder-color,
#ok_login::-webkit-input-placeholder, #ok_login::-moz-placeholder-color {
	color: #bbbbbb;
}

.hide_social_link {
	visibility: hidden;
}

#vk_login, #twitter_login, #ok_login {
	margin-top: 0px;
}

.error_message_checkbox {
	display: inline-table;
	position: absolute;
    top: 56px;
	width: 300px;
	color: #ff0000;
}

.error_message_link {
    top: 7px;
}