body {
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	font-family: "Open Sans";
	font-size: 14px;
}

form {
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 343px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.paginat {
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 343px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -61.66%);
}

#step_2, #step_3, #step_4, #step_5 {
	display: none;
}

.login, .email {
	width: 300px;
	height: 50px;
	font-size: 15px;
	font-family: "Open Sans";
	border-style: none;
	border-radius: 2px;
	background: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 0px 0px 0px 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login, .email {
	margin-right: -4px;
}

.login::-webkit-input-placeholder {
	color: #bbbbbb;
}

.login::-moz-placeholder-color {
	color: #bbbbbb;
}

.email::-webkit-input-placeholder {
	color: #bbbbbb;
}

.email::-moz-placeholder-color {
	color: #bbbbbb;
}

.step_button_active, .button_step_1, .button_step_2, .button_step_3, .button_step_4 {
	position: relative;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans";
	border-style: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #ffffff;
}

.step_button_active {
	font-weight: bold;
}

.button_step_2, .button_step_3, .button_step_4 {
	color: #808080;
}

.step_title {
	font-size: 15px;
	font-family: "Open Sans";
	margin-top: 16px;
}

.login {
	margin-top: 40px;
}

.email {
	margin-top: 16px;
}

.prev_next {
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 343px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -38.63%);
}

.prev, .next {
	position: relative;
	height: 40px;
	width: 142px;
	top: 303px;
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans";
	border-style: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #ffffff;
}

.next {
	left: 12px;
	color: #ff9800;
	cursor: pointer;
}

.error_bording_login, .error_bording_email {
	border: 2px solid #ff0000;
}

.error_message_login, .error_message_email {
	display: inline-table;
	position: absolute;
	margin-left: 5px;
	width: 240px;
	color: #ff0000;
}